/*selector de ID*/

#tituloPrincipal {
    color:#e17676;
    font-size: 50px;
}

.parrafoNegrita{
    font-weight: bold;
    color: darkgreen;
}

.parrafoEspecial{
    font-family: comic sans MS;
}

.prioridad{
    color: red;
}
.prioridad1{
    color: red;
}
.prioridad2{
    color: purple;
}

p{
    word-spacing: 8px;
}
.ejemploCajas{
    border: 2px solid black;
    /*padding-top: 10px;*/
    /*padding: 20px 10px 15px;
    margin: 20px 10px 15px;
    */
    width: 50%;
    /*Centrar un div*/
    text-align: center;
    margen: 0 auto;
}

a:link{
    color: crimson;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    margin: 10px;
    border-radius: 25px;
}

a:visited{
    color: black;
}

a:hover{
    color: white;
    background-color: green;
    transition: 1.5s;
}

a:active{
    color: white;
    background-color: purple;
}